[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CLAST"]
	path = CLAST
	url = https://github.com/cran/CLAST
[submodule "exact.n"]
	path = exact.n
	url = https://github.com/cran/exact.n
